---
apiVersion: v1
data:
  DB_HOST: ZGI=
  DB_NAME: ZGI=
  DB_PASSWORD: ZGI=
  DB_PORT: ZGI=
  DB_USER: ZGI=
kind: Secret
metadata:
  name: db-connection
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: myapp
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  strategy: {}
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - image: go-app:v0.0.1
        envFrom:
        - secretRef:
            name: db-connection
        name: go-app
        ports:
        - containerPort: 8080
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: myapp
  name: myapp
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: myapp
status:
  loadBalancer: {}
